h1 {
    color: #0b2e13;
    text-align: center;
    font-size: 340%;
}

h2 {
    color: green;
    text-align: center;
}

h3 {
    font-size: 20px;
}

h6 {
    color: #721c24;
    text-align: center;
    font-size: 140%;
}

.cent{
    text-align: center;
}

body {
    background-color: #b9bbbe;
background: top/100% fixed url("/static/img/img.jpg");
        min-width: 1230px;
}

input[type=text], input[type=date] {
    width: 30%;
    padding: 12px 20px;
    margin : 0 auto;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
}


label {
    font-size: 20px;
}

div form {
    text-align: center;

}

table {
    text-align: center;
    font-size: 20px;
    margin: auto;
    border: 3px solid darkblue;
    border-collapse: separate;
    border-spacing: 5px 10px;
    width: 1000px;

}


td {
    padding: 5px 10px;
    border: 2px solid black;
}

th {
    padding: 5px 10px;
    border: 1px solid grey;
}

tr {
    line-height: 30px;
}

.right {
    width: 150px;
    height: 30px;
    border: 2px solid #999;
    font-size: 18px;
    color: darkblue;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    position: absolute;
    right: 10px;
    top: 5px;
}

.tbl {
    width: 120px;
    font-size: 20px;
}

.tbl1 {
    font-weight: bold;
    font-size: 28px;
}


.col {
    color: #efa2a9;
    font-style: italic;
    background-color: #1c7430;
}

.dia1 {
    color: green;
    font-style: italic;
    font-weight: bold;
    background-color: #005cbf;
}

.dia2 {
    color:  blue;
    font-style: italic;
    font-weight: bold;
    background-color: #005cbf;
}

.str {
    color: darkorange;
    font-style: italic;
    background-color: #1c7430;
}

.mybtn {
    width: 120px;
    height: 55px;
}

.mybtn1 {
    width: 120px;
    height: 120px;
    white-space: normal;
    font-size: 16px;
}

form {
     text-align: center;
}

.pyt {
    background-color: #721c24;


}

.emb {
    background-color: #491217;
}

/*BUTTON ON HOME PAGE*/

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4e555b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    width: 400px;
}

.button:hover {background-color: #5a6268}

.button:active {
  background-color: #818182;
  box-shadow: 0 5px #666;
  transform: translateY(6px);
}

.descr {
    text-align: center;
}

.lb {
    position: static ;
    width: 95%;
    font-size: 250%;
    margin: 1%;
    white-space: pre-wrap;
    text-align: justify;
    font-weight: bold;

}

.inf {
    color: black;
    font-size: 100%;
    text-align: left;
    font-weight: bold;
}

.align_left {
    top: 5px;
    text-align: left;
    font-size: 130%;
}



/*BUTTONS AROUND TABLE*/


.custom-btn {
    width: 130px;
    height: 40px;
    color: #b9bbbe;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-5 {
    width: 200px;
    height: 140px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #5a6268;
    font-size: 18px;
    /*background: rgb(255,27,0);*/
    /*background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);*/
}
.btn-5:hover {
  color: #343a40;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}



/*TABLE BUTTONS*/

.buttontbl {
  display: inline-block;
  padding: 15px 1px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #b9bbbe;
  background-color: #4e555b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #80bdff;
}

.buttontbl:hover {background-color: #0c5460}

.buttontbl:active {
  background-color: #4e555b;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}




.btnheight {
    width: 120px;
    height: 150px;
    white-space: normal;
    font-size: 16px;
  padding: 1px 1px;
}