<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet" >
    <meta charset="UTF-8">



    <title> {% block title%} {% endblock %} </title>

    {% block add_css%} {% endblock %}

</head>
<body>
    {{ url_for('static', path='/css/index.css') }}
    {% block content%} {% endblock %}

</body>
</html>
