<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet" type="text/css">


<!--    <link href="/static/css/bootstrap.css" rel="stylesheet">-->
<!--    <link href="/static/css/index.css" rel="stylesheet">-->
<!--    <link href="/static/css/base.css" rel="stylesheet" >-->


    <meta charset="UTF-8">



    <title> {% block title%} {% endblock %} </title>

    {% block add_css%} {% endblock %}

</head>
<body>
    {{ url_for('static', path='/css/index.css') }}
    {% block content%} {% endblock %}

</body>
</html>
