<div class="dropdown">
  <div class="right">
    <ul>
      <li><a class="dropdown-item" href="#">English</a></li>
      <li><a class="dropdown-item" href="#">Deutsch</a></li>
      <li><a class="dropdown-item" href="#">Українська</a></li>
      <li><a class="dropdown-item" href="#">Кацапский</a></li>
    </ul>
  </div>
</div>

<!--<div class="right">-->
<!--<select class="form-select" aria-label="Default select example">-->
<!--  <option selected>Open this select menu</option>-->
<!--  <option value="1"><a class="dropdown-item" href="#">English</a></option>-->
<!--  <option value="2"><a class="dropdown-item" href="#">Deutsch</a></option>-->
<!--  <option value="3"><a class="dropdown-item" href="#">Українська</a></option>-->
<!--  <option value="3"><a class="dropdown-item" href="#">Кацапский</a></option>-->
<!--</select>-->
<!--</div>-->
