{% extends 'base.html' %}


{% block add_css%}

    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/index.css') }}">
{% endblock %}

{% block title%}
    Pythagoras Matrix
{% endblock %}

{% block content%}
{%  include 'head.html' %}

    <h1>{{ info }}</h1>

  <body>

    <table>
    <tr>
       <td rowspan="3"></td>
      <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.0 }}" name="first" title="1"></td>
      <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.3 }}" name="forth" title="4"></td>
      <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.6 }}" name="seventh" title="7"></td>
      <td><input class="mybtn tbl str" type="submit" value="000" name="sixs"></td>

    </tr>
    <tr>
        <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.1 }}" name="second" title="2"></td>
        <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.4 }}" name="fifth" title="5"></td>
        <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.7 }}" name="eighth" title="8"></td>
        <td><input class="mybtn tbl str" type="submit" value="000" name="ones"></td>
    </tr>
    <tr>
        <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.2 }}" name="third" title="3"></td>
        <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.5 }}" name="sixth" title="6"></td>
        <td class="pyt"><input class="mybtn tbl" type="submit" value="{{ nums.8 }}" name="ninth" title="9"></td>
        <td><input class="mybtn tbl str" type="submit" value="000" name="ones"></td>
    </tr>
    <tr>
        <td><input class="mybtn tbl dia1" type="submit" value="000" name="firstdiag"></td>
        <td><input class="mybtn tbl col" type="submit" value="000" name="firstcolumn"></td>
        <td><input class="mybtn tbl col" type="submit" value="000" name="secondcolumn"></td>
        <td><input class="mybtn tbl col" type="submit" value="000" name="thirdcolumn"></td>
        <td><input class="mybtn tbl dia2" type="submit" value="000" name="seconddiag"></td>

    </tr>
  </table>

 </body>
{% endblock %}
