{% extends 'base.html' %}


{% block add_css%}

{% endblock %}

{% block title%}
Pythagoras Matrix
{% endblock %}

{% block content%}
<h7 class="align_right">{{translated_info}}</h7>



<h1>{{ title }}</h1>
<h6 class="cent">{{m_click}}</h6>

<table>
    <tr>
        <td rowspan="4">
            <button class="custom-btn btn-5" onclick="document.getElementById('text_info').innerHTML='{{ about_my }}'; return false;"><span>{{about_dev}}</span></button>
            <p></p>
            <button class="custom-btn btn-5" onclick="document.getElementById('text_info').innerHTML='{{ about_general }}'; return false;"><span >{{about_author}}</span></button>
            <p></p>
            <button class="custom-btn btn-5" onclick="document.getElementById('text_info').innerHTML='{{ about_compatibility }}'; return false;"><span>{{about_compat}}</span></button>
        </td>
        <td rowspan="3" class="emb">
            <input class="mybtn1 tbl" type="submit" value="{{embodiment_name}}: {{ var['embodiment'] }}" name="embodiment" title="{{embodiment_name}}"
                                onclick="document.getElementById('text_info').innerHTML='{{embodiment}}'; return false;">
        </td>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.0 }}" name="first" title="1 - {{one_char}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt1}}'; return false;"></td>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.3 }}" name="forth" title="4 - {{four_health}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt4}}'; return false;"></td>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.6 }}" name="seventh" title="7 - {{seven_luck}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt7}}'; return false;"></td>
        <td class="str"><input class="mybtn tbl" type="submit" value="{{ var.first_line }}" title="{{first_string}}"
                    onclick="document.getElementById('text_info').innerHTML='{{horizontal_1}}'; return false;"></td>
                <td rowspan="4">
            <button class="custom-btn btn-5" onclick="document.getElementById('text_info').innerHTML='{{ gen }}'; return false;"><span>{{gen_info_name}}</span></button>
            <p></p>
            <button class="custom-btn btn-5" onclick="document.getElementById('text_info').innerHTML='UNDER CONSTRUCTION !'; return false;"><span>{{comp_calc}}</span></button>
            <p></p>
            <button class="custom-btn btn-5" onclick="history.back()"><span>{{back_home}}</span></button>
        </td>
    </tr>
    <tr>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.1 }}" name="second" title="2 - {{two_energy}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt2}}'; return false;"></td>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.4 }}" name="fifth" title="5 - {{five_logic}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt5}}'; return false;"></td>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.7 }}" name="eighth" title="8 - {{eight_duty}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt8}}'; return false;"></td>
        <td class="str"><input class="mybtn tbl" type="submit" value="{{ var.second_line }}" title="{{second_string}}"
                    onclick="document.getElementById('text_info').innerHTML='{{horizontal_2}}'; return false;"></td>
    </tr>
    <tr>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.2 }}" name="third" title="3 - {{three_science}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt3}}'; return false;"></td>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.5 }}" name="sixth" title="6 - {{six_skills}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt6}}'; return false;"></td>
        <td class="pyt"><input class="mybtn tbl tbl1" type="submit" value="{{ nums.8 }}" name="ninth" title="9 - {{nine_memory}}"
                    onclick="document.getElementById('text_info').innerHTML='{{butt9}}'; return false;"></td>
        <td class="str"><input class="mybtn tbl" type="submit" value="{{ var.third_line }}" title="{{third_string}}"
                    onclick="document.getElementById('text_info').innerHTML='{{horizontal_3}}'; return false;"></td>
    </tr>

    <tr>
        <td class="dia1"><input class="mybtn tbl" type="submit" value="{{ var.diagonal_up }}" name="diagonal_up" title="{{diag_up_name}}"
                    onclick="document.getElementById('text_info').innerHTML='{{diag_up}}'; return false;"></td>
        <td class="col"><input class="mybtn tbl" type="submit" value="{{ var.first_col }}" name="first_column" title="{{first_col_name}}"
                    onclick="document.getElementById('text_info').innerHTML='{{vertical_1}}'; return false;"></td>
        <td class="col"><input class="mybtn tbl" type="submit" value="{{ var.second_col }}" name="second_column" title="{{second_col_name}}"
                    onclick="document.getElementById('text_info').innerHTML='{{vertical_2}}'; return false;"></td>
        <td class="col"><input class="mybtn tbl" type="submit" value="{{ var.third_col }}" name="third_column" title="{{third_col_name}}"
                    onclick="document.getElementById('text_info').innerHTML='{{vertical_3}}'; return false;"></td>
        <td class="dia2"><input class="mybtn tbl" type="submit" value="{{ var.diagonal_down }}" name="diagonal_down" title="{{diag_down_name}}"
                    onclick="document.getElementById('text_info').innerHTML='{{diag_down}}'; return false;"></td>


    </tr>

</table>


<div class="descr">
    <br>
    <label class="lb" id="text_info"></label>
</div>


{% endblock %}
